.paper {
  background-color: peachpuff;
  border: solid 1px var(--mantine-color-orange-5);
  width: 196px;
  padding: 8px 8px 0 8px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
.paper:hover {
  background-color: var(--mantine-color-orange-6);
  border: solid 1px var(--mantine-color-orange-8);
  .delete {
    color: var(--mantine-color-white);
  }
}

.cover {
  object-fit: cover;
  min-height: 198px;
}

.caption {
  min-height: 115px;
  align-content: center;
  margin: auto 0;
  font-size: 14px;
}
.list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.delete {
  width: 20px;
  height: 20px;
  color: var(--mantine-color-orange-5);
}

.deleteButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.delete:hover {
  width: 25px;
  height: 25px;
  transition: all 0.1s ease-in;
}

.deleteButton {
  &:disabled,
  &[data-disabled] {
    background-color: transparent;
  }
}

@media (max-width: 1127px) {
  .paper {
    width: 166px;
    padding: 8px;
  }
  .cover {
    object-fit: cover;
    min-height: 157px;
    max-height: 241px;
  }
  .caption {
    min-height: 85px;
  }
}

@media (max-width: 824px) {
  .cover {
    object-fit: cover;
    min-height: 198px;
  }
}

@media (max-width: 760px) {
  .paper {
    padding: 6px;
  }
  .cover {
    object-fit: cover;
    min-height: 172px;
  }
}

@media (max-width: 490px) {
  .paper {
    width: 131px;
    padding: 6px;
  }
}
