.paper {
  background-color: peachpuff;
  border: solid 1px var(--mantine-color-orange-5);
  width: 196px;
  padding: 8px 8px 0 8px;
  position: relative;
}
.paper:hover {
  background-color: var(--mantine-color-orange-6);
  border: solid 1px var(--mantine-color-orange-8);
  .delete {
    color: var(--mantine-color-white);
  }
}

.cover {
  object-fit: cover;
  min-height: 265px;
}

.caption {
  min-height: 100px;
  align-content: center;
  margin: auto 0;
  font-size: 14px;
}
.list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.delete {
  width: 20px;
  height: 20px;
  color: var(--mantine-color-orange-5);
}

.deleteButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.delete:hover {
  width: 25px;
  height: 25px;
}

@media (max-width: 944px) {
  .paper {
    width: 166px;
    padding: 8px;
  }
  .cover {
    object-fit: cover;
    min-height: 222px;
  }
  .caption {
    display: none;
  }
}

@media (max-width: 824px) {
  .paper {
    width: 150px;
  }
  .cover {
    object-fit: cover;
    min-height: 198px;
  }
}

@media (max-width: 760px) {
  .paper {
    width: 132px;
    padding: 6px;
  }
  .cover {
    object-fit: cover;
    min-height: 172px;
  }
}
