.paper {
  background-color: peachpuff;
  border: solid 1px coral;
}
.paper:hover {
  background-color: #f1eded;
  border: solid 1px #585858;
}

.list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
