.paper {
  background-color: rgb(248, 221, 203);
  width: 100%;
  display: flex;
  padding: 0 1rem;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 60%;
}

.imageContainer {
  flex-basis: 40%;
  align-content: center;
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 1050px) {
  .heading {
    font-size: 45px;
  }
  .description {
    font-size: 14px;
  }
  .contentContainer {
    flex-basis: 65%;
  }
  .imageContainer {
    flex-basis: 35%;
    align-content: end;
  }
}

@media (max-width: 890px) {
  .paper {
    flex-direction: column;
  }
  .contentContainer {
    order: 2;
    justify-content: space-between;
    gap: 1rem;
  }
  .image {
    width: 62%;
  }
}

@media (max-width: 580px) {
  .heading {
    font-size: 37px;
  }
}

@media (max-width: 470px) {
  .heading {
    font-size: 32px;
  }
  .contentContainer {
    flex: 1;
  }
  .imageContainer {
    flex: 1;
  }
}
