.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  margin-top: 1rem;
}

.logo {
  height: 37px;
}

@media (max-width: 500px) {
  .logoText {
    font-size: 21px;
  }

  .logo {
    height: 32px;
  }
}
