*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/tile_background (3).png");
  margin: 0;
  display: flex;
  width: 100vw;
  place-items: center;
  min-height: 100vh;
}
